h1 Create a new slide

p Choose the slide type to create.
ul.nav.nav-tabs
	li.active: a href="#simple" data-toggle="tab" Simple editor
	li: a href="#inkscape" data-toggle="tab" Inkscape
	li: a href="#httpslide" data-toggle="tab" Http fecher
	li: a href="#image" data-toggle="tab" Upload image
	li: a href="#video" data-toggle="tab" Video slide
	- if current_templates.present? 
		li: a href="#template" data-toggle="tab" Slide from template

div.tab-content
	- if current_templates.present?	
		div.tab-pane#template
			h2 New slide from template
			= bootstrap_form_for @slide, html: {id: 'new_template_slide'} do |f|
				= f.error_messages
				= hidden_field_tag :create_type, 'template'
				= render partial: 'form', locals: {f: f}
				p
					| Template: 
					= f.collection_select(:foreign_object_id, current_templates, :id, :name)
				div#template_slide_form.svg_editor_container
				p = f.primary
	
	div.tab-pane.active#simple
		h2 New simple editor slide
		= bootstrap_form_for @slide, html: {id: 'new_simple_slide'} do |f|
			= f.error_messages
			= hidden_field_tag :create_type, 'simple'
			= render partial: 'form', locals: {f: f}
			= render partial: 'simple_edit', locals: {f: f}
			p = f.primary
	
	div.tab-pane#inkscape
		h2 New inkscape slide
		p The slide will have the same starting template as a simple slide.
		= bootstrap_form_for @slide, html: {id: 'new_inkscape_slide'} do |f|
			= f.error_messages
			= hidden_field_tag :create_type, 'inkscape'
			= render partial: 'form', locals: {f: f}
			p = f.primary
	
	div.tab-pane#httpslide
		h2 New http fecher slide
		p The slide will be automatically updated periodically by the background process.
		= bootstrap_form_for @slide, html: {id: 'new_http_slide'} do |f|
			= f.error_messages
			= hidden_field_tag :create_type, 'http_slide'
			= render partial: 'form', locals: {f: f}
			= render partial: 'http_slide_form', locals: {f: f}
			p = f.primary
		
	div.tab-pane#image
		h2 New slide from image
		p 
			| You can upload a image in any format understood by imagemagick library.
			|  The image will be shown centered on a black background and resized down if needed.
		= bootstrap_form_for @slide, html: {id: 'new_image_slide'} do |f|
			= f.error_messages
			= hidden_field_tag :create_type, 'image'
			= render partial: 'form', locals: {f: f}
			= render partial: 'image_slide_form', locals: {f: f}
			p = f.primary

	div.tab-pane#video
		h2 New video slide
		p The video file must be accessible by displays and accepted by the browser.
		= bootstrap_form_for @slide, html: {id: 'new_video_slide'} do |f|
			= f.error_messages
			= hidden_field_tag :create_type, 'video_slide'
			= render partial: 'form', locals: {f: f}
			= render partial: 'video_slide_form', locals: {f: f}
			p = f.primary
