$('#tickets_tab').html(
	'<%=j ticket_tab_link(@open_tickets) %>'
);

<% if @open_tickets == 0 %>
	$('#tickets_tab span.badge').removeClass('notice');
<% else %>
	$('#tickets_tab span.badge').addClass('notice');
<% end %>