//
// slides.css.scss
// isk
//
// Created by Vesa-Pekka Palmu on 2014-06-10.
// Copyright 2014 Vesa-Pekka Palmu. All rights reserved.
//

@font-face{
	font-family: 'Franklin Gothic Heavy';
	src: url('/fonts/Franklin_Gothic_Heavy-Regular.ttf'),
	url('/fonts/Franklin_Gothic_Heavy-Regular.eot'); /* IE9 */
}

@font-face{
	font-family: 'Franklin Gothic Heavy';
	src: url('/fonts/Franklin_Gothic_Heavy-Italic.ttf'),
	url('/fonts/Franklin_Gothic_Heavy-Italic.eot'); /* IE9 */
	font-style: italic;
}

//slide preview image
img.preview {
	width: 400px;
	height: 225px;
}

img.thumb {
	width: 128px;
}

div.slide_list {
	margin-right: 150px;
	min-width: 600px
}

// app/views/slides/index.html.slim
// app/views/slides/_group.html.slim
// Less padding on the panel-body
div.compact-slidelist {
	div.slides-list {
		padding: 2px;
	}
}

// app/views/slides/_slide.html.slim
div.slide {
	display: inline-block;
	margin: 5px;

	&.slide-hidden {
		border-color: darken($panel-primary-border, 20%);
		
		div.panel-heading {
			background: darken($panel-primary-heading-bg, 20%);
		}
		
		img {
			opacity: 0.6;
		}
	}

	div.slide_header {
		width: 400px;
		padding: 5px 10px;
		
		div.slide_name {
			max-width: 310px;
			height: 25px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
		}

		div.slide_type {
			float: right;
			padding: 5px 5px;
			font-size: 0.7em;
			border-radius: 10px;
			border: 1px solid #333;
			display: inline-block;

			&.image {
				background: $primary;
			}

			&.svg-edit {
				background: $green_dark;
			}

			&.simple {
				background: $green;
			}

			&.inkscape {
				background: $red;
			}

			&.template {
				background: $red_highlight;
			}

			&.http {
				background: $secondary;
			}

			&.video {
				background: $secondary_highlight;
			}
		}
	}

	div.panel-body {
		padding: 0px;
	}

	div.slide_buttons {
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		min-height: 22px;
		width: 400px;
		padding: 5px 0;

		div.btn-toolbar {
			text-align: center;
			width: inherit;
			display: inline-block;
			margin: 0 auto;
		}
	}
}

// slide#show
div.slide_info {
	div#group_info {
		li.current {
			font-weight: bolder;
			a {
				text-decoration: none;
			}
		}
	}
}

// Template slide editor
div#template_slide_form {
}

table.template_slide_fields {
	input[type="text"], textarea {
		width: 300px;
	}

	textarea{
		resize: none;
		height: 100px;
	}
}


// Simple editor view and preview
div#simple_editor {

	div.controls {
		textarea#simple_head {
			font-family: 'Franklin Gothic Heavy';
			font-weight: normal;
			font-size: 2em;
		}

		textarea#simple_text {
			font-family: 'Franklin Gothic Heavy';
			font-weight: normal;
			font-size: 1.2em;
		}
	}
}

// Previews of svg images
div.svg_editor_container {
	min-width: 850px;
	display: block;

	div.controls {
		max-width: 400px;
		margin-right: 5px;
		display: inline-block;
	}

	div.svg_preview {
		border: 2px solid #555;
		margin-left: 10px;
		text-align: center;
		float: right;

		div.updating_preview {
			position: relative;
			top: 5em;
			height: 0px;
			p {
				border: 2px solid white;
				border-radius: 10px;
				background-color: black;
				display: inline-block;
				padding: 1em;
				opacity: 0.5;
			}
		}

		div.svg_container {
			width: 400px;
			height: 225px;
			padding: 0px;
			border: 1px solid black;

			svg {
				width: 400px;
				height: 225px;
			}
		}
	}
}

ol.display_counts {
  li.live {
    font-weight: bold;
  }
}

